{% extends 'base.html' %}
{% block body %}

<div class="container my-5">
    <h2>Boards</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Created</th>
          <th scope="col">Last Update</th>
          <th scope="col">Last Link</th>
        </tr>
      </thead>
      <tbody>
        {% for item in all %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.created_at}}</td>
          <td>{{item.updated_at}}</td>
          <td>{{item.last_link}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


{% endblock body %}